<div class="login-form">
  <div class="text-center">
    <app-notifications></app-notifications>
  </div>
  <form [formGroup]="loginForm">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" formControlName="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group">
      Use username: guest and password: guest if you don't have an account yet!
    </div>
    <div class="form-group">
      <button (click)="login()" class="btn btn-primary btn-block">Log in</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox" formControlName="rememberMe"> Remember me</label>
      <a href="" class="pull-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="" >Create an Account</a></p>
  <!-- [routerLink]="['/auth/signup']" -->
</div>
