<nav class="navbar navbar-expand-md navbar-light md-light">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon" (click)="open()">
      <i class="fa fa-align-justify"></i>
    </mat-icon>
  </button>
  <a class="navbar-brand" href="/home">Tuto Share App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <app-account-menu ></app-account-menu>
      </li>
    </ul>
  </div>
</nav>
